

#intro	{
	position: relative;
	top: 2%;
	left: 33%;
	}

#intro ul	{
	list-style-type:none;
	}	

#resume-content	{
	padding: 0% 5% 0 2%;
	border-top: solid;
	margin: 0%
	}	
#resume-content h1	{
		font-size: 23px;
		padding: 1% 0% 0%;
		margin: 0%;
		}	
#resume-content h2	{
		font-size: 20px;
		padding: .5% 0% 0%;
		margin: 0%;
		}	
#resume-content h3	{
		font-size: 15px;
		padding: 1% 0% 0%;
		margin: 0%;
			}
#resume-content p	{
		font-size: 15px;
		padding-top: 0%;
		margin: 0%;
		}	
p.job-title	{
	font-style: italic;
	}
p.school	{
	font-weight:bold;
	font-style: italic;
	}	
#education	{
	position: relative;
	width: 60%;
	float; left;
	}	
#extra {
	position: relative;
	width: 30%;
	float: left;
	}
#footer	{
	clear: both;
	}	