<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/mystyle.css">
			<script language="javascript" src="/js/email.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/thealphbetproject">The Alphabet Project</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><script>mail("midwestnerdchick","gmail",0,"")</script></li>
	        		<li><a href="https://github.com/triepe">github.com/triepe</a></li>
				</ul>
			</footer>
		</body>
	</html>
